{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation Success</title>
    <link rel="stylesheet" href="{%static 'css/reserveok.css'%}" />
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="{% url 'main' %}"
          ><img
            href="{% url 'main' %}"
            src="{% static 'img/homst_logo.svg' %}"
            alt="여기톤 로고"
        /></a>
      </div>
      <div class="page">
        <a href="{% url 'community' %}">커뮤니티</a>
        <a href="{% url 'mypage' %}"
          ><img src="{% static 'img/mypage_profile.svg' %}" class="mypage"
        /></a>
        <a href="{% url 'accounts:login' %}" style="text-decoration: none">
          <div class="login_header_pro" id="login_header_pro">로그아웃</div>
        </a>
      </div>
    </nav>
    <div class="success">
      <h2>예약이 성공적으로 완료되었습니다!</h2>
      <p>예약 ID: {{ accommodation_id }}</p>
      <a href="{% url 'mypage' %}">마이페이지로 이동</a>
    </div>
  </body>
</html>
