<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css'  %}">
</head>

<body>
    <header class="home_header">
        <img src="{% static 'svg/logo.svg'  %}" alt="" class="home_logo" id="home_logo">
        <div class="home_header_right">
            <a class="home_header_co" id="home_header_co">커뮤니티</a>
            <img src="{% static 'svg/profile.svg'  %}" class="home_header_pro" id="home_header_pro" alt="">
        </div>
    </header>

    <main class="home_main">
        <div class="home_head">
            <div class="home_head_div">
                <p class="home_head_title">예은님, 어디로 안전한 여행을 떠나볼까요?</p>
                <form action="{% url 'search_results' %}" method="get">
                    <div class="home_head_items">
                        <div class="home_head_item">
                            <img src="{% static 'svg/home_where.svg'  %}" alt="" class="home_head_icon">
                            <input type="text" class="home_head_where" id="destination" placeholder="어디로 떠나볼까요?">
                            <label for="destination"></label>
                            {{ form.destination }}
                        </div>
                        <div class="home_head_item">
                            <img src="{% static 'svg/home_when.svg'  %}" class="home_head_icon" alt="">
                            <input type="date" class="home_head_when" id="travel_date" placeholder="시작날짜를 선택해주세요">
                            <label for="travel_date"></label>
                            <input type="date" class="home_head_when" id="travel_date2" placeholder="마지막날짜를 선택해주세요">
                            <label for="travel_date2"></label>
                            {{ form.travel_date }} - {{ form.travel_date2 }}
                            <!--<p class="home_head_when">6.30 일 - 7.18 월</p>-->
                        </div>
                        <div class="home_head_btn_empty"></div>
                        <div class="home_head_item">
                            <img src="{% static 'svg/home_who.svg'  %}" class="home_head_icon" alt="">
                            <input type="number" min="0" class="home_head_who" id="people" placeholder="인원">
                            <label for="people"></label>
                            {{ form.people }}
                            <!-- <p class="home_head_who">인원</p> -->
                        </div>
                        <div>
                            <div class="home_head_item" id="home_head_filter">
                                <img src="{% static 'svg/home_filter.svg'  %}" class="home_head_icon" alt="">
                                <p class="home_head_filter">안심필터</p>
                            </div>
                            <div id="home_head_filter_drop_div" class="home_head_filter_drop_div">
                                <div class="home_head_filter_drop_title">
                                    <span>안심필터</span>
                                    <div class="checkbox_div">
                                        <input type="checkbox" id="home_filter_checkbox">
                                        <label for="home_filter_checkbox"></label>
                                        <p class="home_filter_checkbox_txt">전체 선택</p>
                                    </div>

                                    <!-- <button class="select_all">전체 선택</button> -->
                                </div>
                                <div class="home_filter_options">
                                    {% for filter in safety_filters %}
                                    <div class="home_filter_option_div">
                                        <div>
                                            <img src="{% static 'svg/filter_option_{{ filter.id }}.svg'  %}" alt=""
                                                class="filter_option_icon">
                                            <p class="filter_option_txt">{{ filter.name }}</p>
                                        </div>
                                        <input type="checkbox" id="home_filter_checkbox" name="safety_filter" value="{{ filter.id }}">
                                        <label for="home_filter_checkbox"></label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="home_filter_btn">완료</div>
                            </div>
                        </div>

                        <button type="submit" class="home_head_btn" id="home_head_btn">검색</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="home_body">
            <div class="home_list_title_div">
                <p class="home_list_title">안전도 평가가 좋은 숙소 리스트</p>
                <img src="{% static 'svg/home_next.svg'  %}" alt="" id="home_safe_next">
            </div>
            <div class="home_lists" id="home_lists"></div>
            <div class="home_list_title_div">
                <p class="home_list_title">안전한 여행할 때, 꼭 알고 가야할 것은?</p>
                <img src="{% static 'svg/home_next.svg'  %}home_next.svg" alt="" id="home_know_next">
            </div>
            <div class="home_know_list">
                <div class="home_know_img" style="background-image: url('../asset/img/home_know_img1.svg');"></div>
                <div class="home_know_img" style="background-image: url('../asset/img/home_know_img2.svg');"></div>
                <div class="home_know_img" style="background-image: url('../asset/img/home_know_img3.svg');"></div>
            </div>
            <div class="home_list_title_div">
                <p class="home_list_title">커뮤니티 인기 숙소</p>
                <img src="../asset/svg/home_next.svg" alt="" id="home_like_next">
            </div>
            <div class="home_lists" id="home_best_lists"></div>
        </div>
        <script src="{% static 'js/home.js'  %}"></script>
    </main>
</body>

</html>